header a {
    background: rgba(215, 92, 117, 1);
}

div.startPage {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include largeTablet {
        padding: 80px 40px;
    }

    @include smallTablet {
        padding: 40px 40px;
    }

    @include largePhone {
        padding: 20px 20px;
    }
}