$font: 'Noto Sans', sans-serif;

//Type Colours
$fairy: #ee99ac;
$normal: #a8a878;
$electric: #f4bd3e;
$flying: #90a8dd;
$grass: #82d479;
$fire: #f29758;
$white: #ffffff;
$fighting: #d75c75;
$psychic: #fea399;
$dark: #9c83ce;
$bug: #91c230;
$ice: #74cec0;
$ghost: #7a74d8;
$steel: #69adae;
$dragon: #0582bc;
$poison: #c962d6;
$rock: #d6cc94;
$water: #73c6e4;
$ground: #d49a6b;

// mixins 

@mixin largeTablet{
   @media (max-width: 1000px){
       @content;
   }
}

@mixin smallTablet{
   @media (max-width: 700px){
       @content;
   }
}

@mixin largePhone{
   @media (max-width: 550px){
       @content;
   }
}